output "California Institute of Technology 0x1410 Unknown" {
    mode "3072x1920@60.000"
    scale 2
    position x=0 y=0
}

output "DP-7" {
    mode "3440x1440@120.000"
    scale 1.25
    position x=307 y=0
}

output "Samsung Electric Company LC34G55T HNTY602858" {
    mode "3440x1440@164.999"
    scale 1.25
    position x=1536 y=0
}

output "HDMI-A-1" {
    mode "3440x1440@49.987"
    scale 1.25
    position x=1536 y=0
}

output "DP-1" {
    mode "3440x1440@164.999"
    scale 1.25
    position x=1536 y=0
}

output "Acer Technologies Acer X34 P #ASNbi8GEqq3d" {
    mode "3440x1440@120.000"
    scale 1.25
    position x=1536 y=0
}

output "DP-8" {
    mode "2560x1440@119.998"
    scale 1.25
    position x=3059 y=0
}

output "Microstep MSI MAG271C 0x000001E9" {
    mode "1920x1080@143.855"
    scale 1
    position x=4288 y=0
}

output "Ancor Communications Inc ROG PG279Q #ASPZXOlZG6fd" {
    mode "2560x1440@119.998"
    scale 1.25
    position x=4288 y=0
}
