* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

window#waybar {
  background: rgba(0, 0, 0, 0.36);
  color: #d7e5e8;
  border-bottom: 1px solid #869396;
}

#workspaces button {
  color: #bbc9cc;
  background: transparent;
  padding: 0 10px;
}

#workspaces button.active {
  color: #9af0ff;
  background: #004f58;
  border-radius: 12px;
}

#workspaces button.urgent {
  color: #ffdad6;
  background: #93000a;
  border-radius: 12px;
}

#clock,
#cpu,
#memory,
#pulseaudio,
#battery,
#tray,
#network,
#idle_inhibitor,
#custom-startmenu,
#custom-hyprbindings,
#custom-notification,
#custom-exit {
  color: #d7e5e8;
  background: #152224;
  border-radius: 12px;
  margin: 6px 4px;
  padding: 0 12px;
}

#custom-startmenu {
  color: #00363d;
  background: #00daf2;
  font-weight: 700;
}

#custom-exit {
  color: #ffdad6;
  background: #93000a;
}

#custom-notification {
  background: #254b5b;
  color: #c1e8fc;
}

#pulseaudio.muted,
#battery.critical,
#battery.warning {
  color: #ffdad6;
}

tooltip {
  background: #202c2e;
  color: #d7e5e8;
  border: 1px solid #869396;
  border-radius: 12px;
}
