// Skip "Important Hotkeys" pop-up at startup.
hotkey-overlay {
    skip-at-startup
}

// Disable client-side decorations.
prefer-no-csd

spawn-at-startup "dms" "run"

// Screenshot path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// Base config.
include "base/binds.kdl"
include "base/input.kdl"
include "base/layout.kdl"
include "base/animations.kdl"
include "base/windowrules.kdl"

// DMS includes.
include "dms/colors.kdl"
include "dms/layout.kdl"
include "dms/alttab.kdl"
include "dms/wpblur.kdl"
include "dms/clipboard.kdl"
include "dms/env.kdl"
include "dms/binds.kdl"
include "dms/cursor.kdl"
include "dms/outputs.kdl"
